.jumbotron{
    padding: 30px;
}

.form-group{
    padding-top: 13px;
}

.userlist {
    padding: 30px;
}

.card {
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.05);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

body {
    background-color: #ecf0f1;
}